@media (max-width: 1000px) {
  .main-article {
    width: 100%;
  }
  .article-icon img {
    width: 50%;
    float: left;
  }

  .related-article {
    float: none;
    width: 70%;
    border-left: none;
  }
}

@media (max-width: 670px) {
  .head p {
    text-align: justify;
  }

  .article-icon img {
    width: 80%;
  }

  .related-article {
    float: none;
    width: 100%;
  }

  .right-section {
    display: none;
  }
}
