* {
  box-sizing: border-box;
}
body {
  padding : 0;
  margin : 0;
}
/* header */
.top-wrapper {
  background-color: azure;
}

.left-section {
  /* width: 80%; */
  height: 80px;
  float: left;
}
.left-section img {
  width: 150px;

  float: left;
}

.left-section h3 {
  font-family: sans-serif;
  letter-spacing: 2px;
  display: inline-block;

  line-height: 40px;
}

.right-section {
  float: right;
}

.right-section h4 {
  font-family: cursive;
  display: inline-block;
  line-height: 40px;
}

.right-section img {
  cursor: pointer;
  width: 120px;
  float: right;
}

header span {
  font-family: serif;
  letter-spacing: normal;
  margin-right: 5px;
  font-style: italic;
}
/* end of header */

/* Main section */
.main-wrapper {
  background-color: #f7f7f7;
}

.main-wrapper .container {
  padding: 100px 0 100px 0;
  background-image: url(img/photo-1584036561566-baf8f5f1b144.jpg);
  background-size: cover;
  text-align: center;
}

.head h1 {
  font-family: fantasy;
  letter-spacing: 8px;
}
.head h1,
h2 {
  color: white;
  line-height: 2px;
}

.head h2 {
  font-family: monospace;
}

.main-wrapper p {
  font-weight: bold;
  font-family: cursive;
}
.head p {
  color: coral;
}

.head {
  margin-bottom: 100px;
}
.bot {
  color: green;
}

/* end of main section */

/* body-content */
.article-wrapper {
  background-color: #f7f7f7;

  /* border: 2px solid red; */
}

.container {
  max-width: 1170px;
  /* border: 2px solid black; */
  margin: 0 auto;
}

.content {
  padding: 10px;
  /* border: 1px solid blue; */
}

.main-article {
  width: 65%;
  float: left;
  padding-right: 5px;
}

.article-icon {
  /* border: 1px solid red; */
  text-align: center;
}

.article-icon img {
  width: 55%;
}

/* .article-content {
  border: 1px solid red;
} */

.related-article {
  width: 33%;
  float: right;
  border-left: 1px solid grey;
  padding: 20px;
}

.line {
  border-top: 1px solid grey;
}

.article {
  line-height: 15px;
}
.article h1 {
  line-height: normal;
}
.article h3 {
  line-height: normal;
}

.date {
  float: right;
}

.writter {
  color: #95a5a6;
}

.article img {
  float: right;
  width: 30%;
}

.f-right {
  float: left;
}

.clear {
  clear: both;
}

/* end of body-content */

/* footer */

footer {
  background-color: darkslateblue;
  text-align: center;
  padding: 40px;
}
footer a {
  text-decoration: none;
}

footer span {
  margin-right: 5px;
}

.btn {
  cursor: pointer;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 20px;
  box-shadow: 0 4px black;
  margin-left: 5px;
}

.btn:hover {
  opacity: 1;
}

.btn:active {
  position: relative;
  top: 4px;
  box-shadow: none;
}

.btn-sub {
  background-color: seagreen;
  margin-bottom: 10px;
}

.btn-fb {
  background-color: navy;
}

.btn-tw {
  background-color: dodgerblue;
}
/* end of  footer */
